html {
    height: 100%;
}

body {
    margin: 0;
    padding: 20px;
}

body, table, select, ul, ol, li {
    font-family: 'WOL_Reg', 'Segoe UI', Tahoma, Helvetica, sans-serif;
    font-size: 12px;
}

input, select {
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 -1px 0 #ddd;
    box-shadow: inset 0 -1px 0 #ddd;
}

iframe {
    width: 100%;
    border: none;
}

.version {
    font-size: 10px;
    color: grey;
}

legend .version {
    line-height: 5em;
    float: right;
}

.text-grey {
    color: grey;
}

.bold {
    font-weight: bold;
}

.string {
    color: green;
}

.number {
    color: pink;
}

.boolean {
    color: red;
}

.null {
    color: magenta;
}

.key {
    color: blue;
}

.no-border {
    border: 0;
}

.pointer {
    cursor: pointer;
}

.logo {
    height: 1em;
    vertical-align: top;
    margin-top: 8px;
}

.dataTables_length label select {
    padding-right: 10px;
}

.CodeMirror {
    border: 1px solid;
}
